$COLOR_MAIN: #303030;
$COLOR_TEXT: #555555;
$COLOR_CONTRAST: #ffffff;
$COLOR_ACCENT: #ff6c00;
$COLOR_SECONDARY: #9da4bd;
$COLOR_SECONDARY_MOD: rgba(157, 164, 189, 0.6);
$COLOR_SECONDARY_MOD_FOOTER: rgba(157, 164, 189, 0.4);

$BG_LIGHT: #f7f7f7;
$BG_DARK: #191c26;
